<%= form_tag("/people/create") do %>

        <% @people.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>

          <% end %>
          <p>Name</p>
        <textarea name="name"><%=@people.name%></textarea>
        <p>Last Name</p>
        <textarea name="city"><%=@people.city%></textarea>
        <p>Contract Date</p>
        <textarea name="contract_to"><%=@people.contract_to%></textarea>

        <input type="submit" value="Add">

    <% end %>
